<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />
    <title>Made by Coop</title>
</head>
<body>
    <h3>Yo</h3>
    <div class="flex"> <!--HOLY SHIT I JUST CENTERED A DIV LMAOOOOO-->
        <form enctype="multipart/form-data" method="post">
            <input type="file" accept=".png,.jpg,.jpeg,.gif" id="file" name="file"><br><br>
            <input type="submit">
          </form>
    </div>
</body>
</html>